page-detail {

}

/*
.range-pin {
	z-index: 100 !important;
	top: 5px !important;
	-webkit-transform: translate3d(0,  0,  0) scale(1) !important;
	transform: translate3d(0,  0,  0) scale(1) !important;
}
*/